body{
  margin: 0;
  background-color: darkslategrey;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
}

body div{
  width: auto;
}

.land{
  height: 100vh;
  background-image: url(bkgd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top{
  width: 100%;
  height: 5.625rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.netlogo{
  width: 10%;
  float: left;
  margin-left: 3.125rem;
  margin-bottom: 1.25rem;
}

.button{
  float: right;
  background-color: red;
  color: white;
  height: 2rem;
  width: 5rem;
  margin-right: 2rem;
  border-color: red;
  border-radius: 0.3rem;
}

.text{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.text p{
  margin: 0;
  font-size
}

.text h1{
  margin: 0.1875rem;
  font-size: 2rem;
}

h5{
  font-size: 1rem;
  margin: 0.438rem;
}

#ready{
  margin-top: 1.25rem;
  margin-bottom: 0.9rem;
  font-size: .7rem;
}

@media screen and (min-width: 500px) {
  .text h1{
    font-size: 3rem;
  }
  #ready{
    font-size: 1.2rem;
  }
}

.formz{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#email{
  height: 3.125rem;
  width: 70%;
}

#submit{
  height: 3.4375rem;
  width: 30%;
  color: white;
  background-color: red;
}

.seconddiv{
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.4375rem 0;
  font-family: sans-serif;
}

.seconddiv h3{
  color: white;
  font-size: 15px;
}

.seconddiv h1{
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-right: 15px;
}

#divss{
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items: center;
}

.seconddiv img{
  transform: scale(.6, .6);
  width: 100%;
}

@media screen and (min-width: 500px) {
  #divss{
    width: 40%;
  }
  .seconddiv h1{
    color: white;
    font-size: 2.5rem;
  }
  .seconddiv h3{
    color: white;
    font-size: 1.4375rem;
  }
  .seconddiv img{
    width: 40%;
  }
}

.thirddiv{
  background-color: black;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.4375rem 0;
  font-family: sans-serif;
}

.thirddiv h3{
  color: white;
  font-size: 15px;
}

.thirddiv h1{
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.thirddiv div{
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items: center;
}

.thirddiv img{
  transform: scale(.5, .5);
  width: 100%;
}

@media screen and (min-width: 500px) {
  .thirddiv div{
    width: 40%;
  }
  .thirddiv h1{
    color: white;
    font-size: 2.5rem;
  }
  .thirddiv h3{
    color: white;
    font-size: 1.4375rem;
  }
  .thirddiv img{
    width: 40%;
    transform: scale(.8, .8);
  }
}

.fourthdiv{
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.3125rem 0;
  font-family: sans-serif;
}

.fourthdiv h3{
  color: white;
  font-size: 15px;
}

.fourthdiv h1{
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

.fourthdiv div{
  width: 100%;
  margin-left: 1.4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.fourthdiv img{
  transform: scale(0.5, 0.5);
  position: relative;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .fourthdiv div{
    width: 40%;
  }
  .fourthdiv h1{
    color: white;
    font-size: 2.5rem;
  }
  .fourthdiv h3{
    color: white;
    font-size: 1.4375rem;
  }
  .fourthdiv img{
    width: 40%;
  }
}

.fifthdiv{
  background-color: black;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 0.3125rem 0;
  font-family: sans-serif;
}

.fifthdiv h3{
  color: white;
  font-size: 15px;
}

.fifthdiv h1{
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 40px;
}

.fifthdiv div{
  width: 100%;
  margin-left: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.fifthdiv img{
  transform: scale(0.5);
  width: 100%;
}

@media screen and (min-width: 500px) {
  .fifthdiv div{
    width: 40%;
  }
  .fifthdiv h1{
    color: white;
    font-size: 2.5rem;
  }
  .fifthdiv h3{
    color: white;
    font-size: 1.4375rem;
  }
  .fifthdiv img{
    width: 40%;
  }
}


.sixthdiv{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: black;
  height: auto;
  margin: 0;
}

.sixthdiv h1{
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  margin: 3.125rem 0;
}

.div{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
  margin: 0;
  width: 75%;
  padding-left: 0;
  position: relative;
}

li{
  width: 100%;
  height: 3.4375rem;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.buttons{
  width: 100%;
  background-color: rgb(59, 59, 59);
  text-align: left;
  padding: 0.625rem;
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

p{
  color: white;
}

.sixthdiv p{
  font-size: 1.5625rem;
  padding: 0.625rem;
  font-family: sans-serif;
  background-color: rgb(59, 59, 59);
  margin: 0.3125rem;
}

.formss{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-bottom: 2.5rem;
}

#reads{
  background: none;
  margin-top: 2.5rem;
  font-size: 1rem;
}

.formss{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

#emails{
   height: 3.125rem;
   width: 60%;
}

#submits{
  height: 3.4375rem;
  width: 30%;
  color: white;
  background-color: red;
}

.seventhdiv{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3125rem 0;
}

.seventhdiv div{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}

.seventhdiv ul{
  margin: 0;
}

.seventhdiv a{
  text-decoration: none;
  color: slategrey;
  font-size: 10px;
}

.seventhdiv li{
  margin: 0;
  padding: 0;
  height: 25px;
}

@media screen and (min-width: 500px) {
  .seventhdiv li{
    height: 50px;
  }
  .seventhdiv a{
    font-size: 15px;
  }
}
